
  <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
          <div class="item active">
              <!-- Set the first background image using inline CSS below. -->
              <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
              <div class="carousel-caption">
                  <h2>Caption 1</h2>
              </div>
          </div>
          <div class="item">
              <!-- Set the second background image using inline CSS below. -->
              <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
              <div class="carousel-caption">
                  <h2>Caption 2</h2>
              </div>
          </div>
          <div class="item">
              <!-- Set the third background image using inline CSS below. -->
              <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
              <div class="carousel-caption">
                  <h2>Caption 3</h2>
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>

  </header>

  <div class="container marginBottom70">

    <div class="row">
      <div class="col-md-4">
        <h3>Title 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-md-4">
        <h3>Title 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
      <div class="col-md-4">
        <h3>Title 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>


    </div>

    <h2>Welcome to our application </h2>
    <!-- Full Page Image Background Carousel Header -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloribus consectetur saepe ut corporis cupiditate, perferendis asperiores, assumenda laborum eos voluptas quo, officia, labore est aliquam ab totam. Omnis natus quidem, eaque vitae tenetur culpa earum esse et maiores suscipit repudiandae eveniet sit praesentium rerum in quasi sunt blanditiis quo ipsa! Laborum distinctio temporibus inventore deserunt adipisci impedit vel cumque, dolor libero repellat dolorum explicabo assumenda sit aut, accusantium minus, optio dicta reiciendis sapiente qui. Commodi eveniet deserunt distinctio molestias omnis eaque doloribus hic perspiciatis, recusandae quod, temporibus facilis asperiores obcaecati eos quasi dolores harum adipisci cum culpa dolorem, ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloribus consectetur saepe ut corporis cupiditate, perferendis asperiores, assumenda laborum eos voluptas quo, officia, labore est aliquam ab totam. Omnis natus quidem, eaque vitae tenetur culpa earum esse et maiores suscipit repudiandae eveniet sit praesentium rerum in quasi sunt blanditiis quo ipsa! Laborum distinctio temporibus inventore deserunt adipisci impedit vel cumque, dolor libero repellat dolorum explicabo assumenda sit aut, accusantium minus, optio dicta reiciendis sapiente qui. Commodi eveniet deserunt distinctio molestias omnis eaque doloribus hic perspiciatis, recusandae quod, temporibus facilis asperiores obcaecati eos quasi dolores harum adipisci cum culpa dolorem, ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid doloribus consectetur saepe ut corporis cupiditate, perferendis asperiores, assumenda laborum eos voluptas quo, officia, labore est aliquam ab totam. Omnis natus quidem, eaque vitae tenetur culpa earum esse et maiores suscipit repudiandae eveniet sit praesentium rerum in quasi sunt blanditiis quo ipsa! Laborum distinctio temporibus inventore deserunt adipisci impedit vel cumque, dolor libero repellat dolorum explicabo assumenda sit aut, accusantium minus, optio dicta reiciendis sapiente qui. Commodi eveniet deserunt distinctio molestias omnis eaque doloribus hic perspiciatis, recusandae quod, temporibus facilis asperiores obcaecati eos quasi dolores harum adipisci cum culpa dolorem, ut.</p>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2>Tile Centred</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div><hr>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Panel Left</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ratione inventore voluptatum. Alias quibusdam assumenda eveniet praesentium omnis cupiditate voluptatum perferendis iste deleniti, veniam atque minus at? Quisquam, quas voluptatibus?</p>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Panel right</div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ratione inventore voluptatum. Alias quibusdam assumenda eveniet praesentium omnis cupiditate voluptatum perferendis iste deleniti, veniam atque minus at? Quisquam, quas voluptatibus?</p>
      </div>
    </div>
  </div>

</div>

  </div>
<script>

  window.onload = function() {

    console.log($('.carousel'));
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    });


  };

</script>




</div>
